.heading {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav button {
    cursor: pointer;
}

.ball {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 10%;
    top: 43%;
    transition: left 1s linear !important;
}

.ball.invisible {
    opacity: 0;
    transition: 0.8s;
}

.ball.visible {
    opacity: 1;
    transition: 0.8s;
}

.pitch {
    width: 90%;
    position: relative;
    max-height: 70vh;
    z-index: -1;
}

.game-buttons-container-below {
    display: none;
}

/* media queries */
@media (max-width: 550px) {

    /* Show buttons below the pitch, hide buttons above the pitch on smaller screens */
    .game-buttons-container-above {
        display: none;
    }

    .game-buttons-container-below {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .game-buttons-container-below .game-button {
        width: 85%;
        margin-bottom: 10px;
    }

    /* change size of ball size */
    .ball {
        width: 20px;
        height: 20px;
    }
}